
<div class="carousel-item  container-fluid">
  <h2 class="testimonial-text">I no longer have to go to ticket counter for booking tickets as i found a easy and convinient way for booking tickets.</h2>
  <img class="testimonial-image" src="images/lady-img.jpg" alt="man-profile">
  <strong><em>Pebbles, New York</em></strong>
</div>