<div class="row white-section container-fluid" id="features">
  <div class="feature-box col-lg-4 ">
    <i class="icon fas fa-check-circle fa-3x"></i>
    <h3 class="feature-title">Easy to use.</h3>
    <p>So every user can access it easily.</p>
  </div>

  <div class="feature-box col-lg-4">
    <i class="icon fas fa-bullseye fa-3x"></i>
    <h3 class="feature-title">100% Services Guaranteed</h3>
    <p>Good Food and all accomodations services provided.</p>
  </div>

  <div class=" feature-box col-lg-4">
    <i class=" icon fas fa-heart fa-3x"></i>
    <h3 class="feature-title">Easy to Book Tickets.</h3>
    <p>Get a convinient way to book tickets and safe payment gateway.</p>
  </div>
</div>
