<section class="" id="press">
  <img class="press-logo" src="/images/partners.png" alt="tc-logo">
</section>

<!-- Footer -->

<footer class="white-section" id="footer">
  <div class="container-fluid">

    <i class="icon-footer fab fa-twitter"></i>
    <i class="icon-footer fab fa-facebook"></i>
    <i class="icon-footer fab fa-instagram"></i>
    <i class="icon-footer fas fa-envelope"></i>
    <p>© Copyright 2022 FASTRAIN</p>
  </div>
</footer>

<!-- js -->
<script src="/js/eye.js"></script>
<script src="/js/logout.js"></script>
<script src="/js/getTrain.js"></script>




