<!-- Pricing-heading -->
<section class="white-section" id="pricing-heading">
  <h2 class="section-heading">Now Book trains from Anywhere</h2>
  <p>At Affordable price for a smooth and ultimate journey experience.</p>
</section>
