<div class="pricing-column col-lg-4 col-md-6 mx-auto">
  <div class="card">
    <div class="card-header">
      <img src="images/train1.jpg">
      <h3>Asansol to Darjeeling</h3>
    </div>
    <div class="card-body">
      <h2 class="price-text">Only at 1700 rupees</h2>
      <p>Hurry! Only few seats left</p>
      <p>Food and Accomodation Included</p>
      <p>Unlimited Internet</p>
      <button type="button" class="btn btn-dark btn-lg btn-block">Book Now</button>
    </div>
  </div>
</div>