<!-- Call to Action -->
<section class="colored-section" id="cta">
  <div class="container">

    <h3 class="big-heading">What are you waiting for ??</h3>
    <video autoplay muted loop>
      <source src="images/website commercial.mp4" type="video/mp4">
      Your browser does not support HTML video.
    </video>

  </div>
</section>
